@page
@model WebApplication2.Pages.ExitoModel
@{
}

<br>
<center>
    <h2>Operacion realizada de manera exitosa.</h2>
</center>
<center>
    <a class="btn btn-primary btn-sm" href="/Pricipal">Volver</a>
</center>
