@page
@model WebApplication2.Pages.LogOutModel
@{
}

<br>
<center>
    <h2>Se ha cerrado la sesion.</h2>
</center>

<form asp-page-handler="VolverAdmin" method="post">
    <center>
        <button class="btn btn-primary btn-sm"> Volver</button>
    </center>
</form>