@page
@model WebApplication2.Pages.Clientes.DetalleDeduccionesModel2

<div class="row mb-3">
</div>
<div class="row mb-3">
    <div class="col-sm text-start">
        <a class="btn btn-primary" href="/Clientes/UsuarioEmpleado2" role="button">
            <i class="bi bi-arrow-left"></i>Volver
        </a>
    </div>
</div>
<center>
    <h3>Detalle Deducciones</h3>
</center>
<table class="table">
    <thead>
        <tr>
            <th><center>Nombre Deduccion</center></th>
            <th><center>Total Porcentaje</center></th>
            <th><center>Monto</center></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaDeducSemanaPlanilla)
        {
            <tr>
                <td align="center">@item.Nombre</td>
                <td align="center">@item.Porcentaje</td>
                <td align="center">@item.Monto</td>
            </tr>
        }
    </tbody>
</table>

