@page
@model PricipalModel;
@{
    ViewData["Title"] = "Tarea";
}

<br>
<center>
    <h2>Administrador</h2>
</center>


@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form asp-page-handler="Filtrar" method="post">
    <div class="row mb-3">

        <div class="col-sm-3" style="display: flex; align-items: center;">
            <label for="Filtro" style="margin-right: 10px;">Filtro:</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.nombre" />
        </div>

        <div class="offset-sm-6 col-sm-3 d-grid">
            <button class="btn btn-primary">Filtrar</button>
        </div>

    </div>
</form>


<div class="row mb-3">
    <div class="col-sm text-end">
        <a class="btn btn-primary" href="/Clientes/Insertar" role="button" style="width: 305px;">Insertar</a>
    </div>
</div>

<center>
    <h3>Lista de Empleados</h3>
</center>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaArticulos)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Nombre</td>
                <td>
                    <div class="row mb-3">
                        <div class="col-sm d-grid">
                            <a class="btn btn-outline-primary" href="/Clientes/Insertar" role="button">Editar</a>
                        </div>
                        <div class="col-sm d-grid">
                            <a class="btn btn-outline-primary" href="/Clientes/CABorrar" role="button">Borrar</a>
                        </div>
                        <div class="col-sm d-grid">
                            <a class="btn btn-outline-primary" href="/Clientes/CAModificar" role="button">Impersonar</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td>Nombre</td>
            <td>Puesto</td>
            <td>
                <div class="row mb-3">
                    <div class="col-sm d-grid">
                        <a class="btn btn-success" href="/Clientes/Insertar" role="button">Editar</a>
                    </div>
                    <div class="col-sm d-grid">
                        <a class="btn btn-danger" href="/Clientes/CABorrar" role="button">Borrar</a>
                    </div>
                    <div class="col-sm d-grid">
                        <a class="btn btn-secondary" href="/Clientes/CAModificar" role="button">Impersonar</a>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</table>
