@page
@model WebApplication2.Pages.Clientes.UsuarioEmpleadoModel
@{
}

<br>
<center>
    <h2>Empleado</h2>
</center>


@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form asp-page-handler="Planilla" method="post">
    <div class="row mb-3">
        <div class="col-sm-3" style="display: flex; align-items: center;">
            <label class="col-sm-3 col-form-label">Nombre: </label>
            <div class="col-sm-6">
                <label class="col-sm-3 col-form-label" style="white-space: nowrap;">@Model.empleado.Nombre</label>
            </div>
        </div>
        <div class="offset-sm-6 col-sm-3 d-grid">
            <button class="btn btn-primary" name="botonSeleccionado" value="PlanSemanal">Plan Semanal</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3" style="display: flex; align-items: center;">
            <label class="col-sm-3 col-form-label">Identidad: </label>
            <div class="col-sm-6">
                <label class="col-sm-3 col-form-label";>@Model.empleado.ValorDocIdentidad</label>
            </div>
        </div>
        <div class="offset-sm-6 col-sm-3 d-grid">
            <button class="btn btn-primary" name="botonSeleccionado" value="PlanMensual">Plan Mensual</button>
        </div>
    </div>
</form>



<div class="row mb-3">
    <div class="col-sm text-end">
        @if (@Model.mostrarBoton)
        {
            <a class="btn btn-primary" href="/Clientes/UsuarioAdmin" role="button" style="width: 305px;">Volver Administrador</a>
        }
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Salario Bruto</th>
            <th></th>
            <th>Total Deduccion</th>
            <th></th>
            <th>Salario Neto</th>
            <th>Total Deduccion</th>
            <th>Horas Ordinarias</th>
            <th>Horas Extras</th>
            <th>Horas Extras Dobles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaArticulos)
        {
            
        }
        <tr>
            <td>Salario Bruto</td>
            <td>
                <div class="row mb-3">
                    <div class="col-sm d-grid">
                        <a class="btn btn-secondary" href="/Clientes/Insertar" role="button">Detallar</a>
                    </div>
                </div>
            </td>
            <td>Total Deduccion</td>
            <td>
                <div class="row mb-3">
                    <div class="col-sm d-grid">
                        <a class="btn btn-secondary" href="/Clientes/Insertar" role="button">Detallar</a>
                    </div>
                </div>
            </td>
            <td>Salario Neto</td>
            <td>Total Deduccion</td>
            <td>Horas Ordinarias</td>
            <td>Horas Extras</td>
            <td>Horas Extras Dobles</td>
        </tr>

    </tbody>
</table>
